rootlink:https://www.ff231.com/htm/novellist4/5.htm
#章节目录所处结构，tag;[name:value;,...]
chaperhtml:div;class:box list channel
#网页内容前缀
rootcontent:https://www.ff231.com
#章节链接模式
chapermodel:\/htm\/novel4\/\d+\.htm
#章节内容结构
contenthtml:p
#输出编码
outcode:gbk
#过滤字符
filter:\x0a|\xa0
#是否添加章节序号
isnumber:1
#暴力获取
brute:1
#proxy
proxy:http://127.0.0.1:2709